
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(202, 172, 172) ;
  color: #222;
  display: flex;
  justify-content: center;
}


.container {
  width: 90%;
  max-width: 1800px;
  min-width: 1000px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: aparecer 1s ease-in-out;
}

/* HEADER */
.cabecera {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(90deg, #0099f7, #f11712);
  color: white;
  animation: fadeDown 1.2s ease-in-out;
}

.cabecera h1 {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.cabecera subtitle {
  font-weight: 300;
  font-size: 1.2rem;
}

/* NAV */
.menu {
  background-color: #111;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.5rem 1rem;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.menu a:hover {
  background-color: #f11712;
  transform: translateY(-3px);
}

/* MAIN */
.site-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}



.contenido {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: #f9f9f9;
  border-radius: 12px;
  overflow: hidden;
  flex: 1 1 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  animation: slideUp 1s ease-in-out;
  max-block-size: 50%;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card h2 {
  padding: 1rem;
  color: #333;
}

.card p {
  padding: 0 1rem 1.5rem;
  color: #555;
}

/* ASIDE */
.sidebar {
  flex: 1;
  background: #f1f1f1;
  border-radius: 12px;
  padding: 1.5rem;
  animation: fadeIn 1s ease-in;
}

.sidebar h3 {
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

.sidebar a:hover {
  color: #f11712;
}

/* FOOTER */
.site-footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social a {
  color: white;
  margin: 0 0.5rem;
  font-size: 1.3rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social a:hover {
  color: #f11712;
  transform: scale(1.2);
}



